.links_list {
  display: flex;
  column-gap: 24px;
  align-items: center;

  @media (width <= 767px) {
    display: none;
  }
}

.link {
  color: #000;
  text-align: center;
  font-family: "Karla", sans-serif;
  font-size: 18px;
  font-weight: 700;
  transition: opacity 0.2s linear;

  &:hover {
    opacity: 0.6;
    transition: opacity 0.2s linear;
  }
}

.active {
  color: rgba(0, 0, 0, 0.6);
}

.burger {
  display: none;

  @media (width <= 767px) {
    display: block;
  }
}

.button_burger {
  border: 0;
  background-color: transparent;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
