.btn_back {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 8px;
  background: none;
  top: 44px;
  cursor: pointer;

  @media (width <= 767px) {
    top: -40px;
  }
}

.btn_text {
  color: #000;
  font-family: Karla;
  font-size: 18px;
  font-weight: 700;
}
